.main_news {
    .inner {
        .news_box {
            display: flex;
            gap: 32px;
            margin: 0 0 36px 0;

            .notice {
                flex: 1;
            }

            .news {
                flex: 1;
            }

            h3 {
                text-align: left;
            }

            .news_con {
                @include box_white ();
                padding: 32px;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 40px;
                    font-size: 16px;
                    font-weight: 400;

                    span {
                        font-size: 14px;
                        font-weight: 300;
                        color: $color-gray;
                    }
                }
            }
        }

        .img_box {
            display: flex;
            gap: 32px;
        }
    }
}

@media(max-width: 768px) {
    .main_news {
        .inner {
            .news_box {
                flex-direction: column;
            }
        }    
    }
}