$color-white: #fff;
$color-yellow:#FF9C1D;
$color-green:#009999;
$color-mint:#60CDC7;
$color-blue:#327DB7;
$color-gray:#7E8389;
$color-black:#111;
$color-f9:#f9f9f9;
$color-50:#505050;
$color-444:#444;
$color-999:#999;
$color-ddd:#ddd;